body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
p,a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.contener{
    width: 1440px;
    margin: 0 auto;
}
.mar{
    width: 1440px;
    height: 1400px;
}
.nav{
    width: 1530px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    top: 0;
    z-index: 1;
}
.nav_atim{
    width: 78px;
    height: 28px;
    margin-left: 84px;
}
.menu_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 324px;
}
.menu_wrap-atim{
    list-style-type: none;
}
.atim_link{
    width: 100px;
    height: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #180330;
    text-decoration: none;
    margin-right: 48px;
}
.widget{
    margin-left: 200px;
    margin-right: 81px;
}
.widget_link{
    width: 100px;
    height: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #180330;
    text-decoration: none;
}
.widget_linkk{
    width: 45px;
    height: 25px;
    padding: 7px 17px 8px 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #180330;
    text-decoration: none;
    border: 1px solid #550088;
    border-radius: 4px;
    margin-left: 24px;
}
.aside{
    width: 1440px;
    height: 298px;
    margin-top: 121px;
}
.aside_menu{
    text-align: center;
}
.aside_menu h1{
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 110px;
    text-align: center;
    color: #180330;
}
.aside_menu p{
    width: 620px;
    height: 114px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    color: #180330;
    margin: 0 auto;
}
.span{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    color: #550088;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    width: 256px;
    height: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: center; 
    color: rgba(0, 0, 0, 0.48);
    text-align: left;
    background: #FFFFFF;
    border: 1px solid #180330;
    box-sizing: border-box;
    border-radius: 4px 0px 0px 4px; 
}
.button{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 7px 29px 10px 30px;
    background: linear-gradient(180deg, #550088 30.21%, #7800BF 66.15%, #892FFC 100%), #550088;
    border-radius: 0px 4px 4px 0px;
    border: none;
}
.aside_image{
    width: 1280px;
    height: 916px;
    margin-left: 37px;
    margin-right: 123px;
}
.sidebar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar_image{
    width: 401px;
    height: 339px;
    margin-left: 126px;
}
.sidebar_atim2{
    width: 643px;
    height: 307px;
    margin-right: 120px;
}
.sidebar_atim2 h2{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: #180330;
}
.sidebar_atim2 p{
    width: 529px;
    height: 155px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    color: #180330;
    margin: 0 auto;
    margin-bottom: 29px;
}
.sidebar_atim2 a{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    color: #550088;
    text-decoration: none;
    margin-left: 220px;
}
.overlay{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.overlay{
    margin-top: 60px;
}
.overlay_atim{
    width: 643px;
    height: 245px;
    margin-left: 142px;
}
.overlay_atim h2{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: #180330;
}
.overlay_atim p{
    width: 513px;
    height: 93px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;    
    text-align: center;
    color: #180330;
    margin: 0 auto;
    margin-bottom: 29px;
}
.overlay_atim a{
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 31px;
    text-align: center;
    color: #550088;
    text-decoration: none;
    margin-left: 260px;
}
.overlay_img{
    width: 387px;
    height: 375px;
    margin-right: 141px;
    margin-top: 100px;
}
.preview{
    margin-top: 90px;
}
.preview_atim{
    margin-left: 77px;
}
.preview_atim h3{
    width: 716px;
    height: 129px;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    color: #180330;
}
.preview_atim p{
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    color: #180330;
    margin-left: 30px;
}
.preview_atim p::before{
    display: inline-block;
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../img/Group.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    left: -30px;
    top: 5px;
    z-index: 0;
}
.preview_atim a{
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 31px;
    color: #550088;
    text-decoration: none;
    margin-top: 24px;
}
.preview_img{
    width: 1148px;
    height: 728px;
    margin-top: -290px;
    margin-left: 126px;
    margin-right: 166px;
}
.tooltip{
    width: 1286px;
    height: 724px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F6F2F5 69.27%), #DBBEFF;
    border-radius: 8px;
    margin-left: 77px;
    margin-right: 77px;
}
.tooltip_text h3{
    width: 555px;
    height: 83px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: #180330;
    margin:0 auto;
    padding-top: 55px;
}
.popup{
    width: 944px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup_atim{
    margin-left: 171px;
    margin-top: 143px;
}
.popup_atim h3{
    width: 235px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;    
    color: #180330;
    margin-bottom: 31px;
}
.popup_atim-more{
    display: flex;
    align-items: center;
}
.popup_atim-more p{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #300303;
    margin-left: 1px;
}
.paragirif{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #550088;
    margin-left: 6px;
}
.more_menu{
    display: flex;
    align-items: center;
}
.more_wrap{
    list-style-type: none;
}
.popup_atim2{
    margin-top: -70px;
}
.more_menuu{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
    
}
.mora_linkk{
    margin-left: 56px;
    margin-top: 25px;
    
}
.mora_link{
    margin-left: 185px;
}
.popup_atim2-morer{
    margin-left: 55px;
}
.mora_linka{
    text-decoration: none;
    margin-right: 175px;
}
.pending_link{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    color: #550088;
    text-decoration: none;
    margin-left: 550px;
    margin-top: 56px;
}
.success_text{
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    color: #180330;
    margin-top: 126px;
}
.success_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 77px;
    margin-right: 77px;
}
.success_atim{
    width: 429px;
    height: 760px;
    background: #FFDDDD;
    border-radius: 0px;
}
.success_atim img{
    width: 357px;
    height: 357px;
    margin-left: 35px;
    margin-right: 36px;
}
.success_atim h3{
    position: relative;
    width: 199px;
    height: 93px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    margin: 166px auto;
}
.success_atim h3::before{
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    content: "";
    background-image: url(../img/Vector3333.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    top: -50px;
    left: 35px;
}
.success_atim p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #180330;
    margin-top: -140px;
}
.success_atim1{
    width: 429px;
    height: 760px;
    background: #FFFADD;
    border-radius: 0px;
}
.success_atim1 h3{
    position: relative;
    width: 223px;
    height: 124px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    color: #180330;
    margin: 135px auto;
}
.success_atim1 h3::before{
    display: inline-block;
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(../img/121212.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    top: -70px;
    left: 55px;
    
}
.p1{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #180330;
    margin-top: -120px;
}
.p2{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #180330;
    margin-top: -10px;
}
.success_atim1 img{
    width: 357px;
    height: 365px;
    margin-left: 35px;
    margin-right: 37px;
    margin-top: 50px;
}
.success_atim2{
    width: 428px;
    height: 760px;
    background: #BFEDE5;
    border-radius: 0px;
}
.success_atim2 img{
    width: 357px;
    height: 357px;
    margin-left: 35px;
    margin-right: 36px;
}
.success_atim2 h3{
    position: relative;
    width: 228px;
    height: 155px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    color: #180330;
    margin: 123px auto;
}
.success_atim2 h3::before{
    display: inline-block;
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(../img/Group121221.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    top: -50px;
    left: 58px;
}
.pi1{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #180330;
    margin-top: -110px;
}
.pi2{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #180330;
    margin-top: -10px;
}
.error{
    display: flex;
    align-items: center;
    margin-left: 140px;
}
.error img{
    margin-right: 170px;
    margin-top: 108px;
}
.breadcrumbs{
    display: flex;
    align-items: center;
    margin-top: 180px;
}
.breadcrumbs_atim{
    margin-left: 77px;
}
.breadcrumbs_atim img{
    width: 35px;
    height: 40px;
    margin-bottom: 30px;
}
.breadcrumbs_atim a{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #180330;
    display: block;
    margin-bottom: 7px;
    text-decoration: none;
}
.breadcrumbs_atim2{
    display: flex;
    align-items: center;
    margin-left: 185px;
}
.cart{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #180330;
    text-align: left;
    margin-right: 176px;
}
.cartt{
    margin-top: -18px;
}
.cart h4{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #180330;
    margin-left: 35px;
}
.cart_link{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #180330;
    display:block;
    text-decoration: none;
}
.cart_atim{
    list-style-type: none;
}
.user{
    width: 1286px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 77px;
    margin-top: 79px;
}
.user > p{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: right;
    color: #180330;
}
.user2{
    display: flex;
    align-items: center;
}
.user2 p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #180330;
    margin-left: 16px;
}
.pppp{
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: right;
    color: #180330;
}
.pppp::before{
    position: absolute;
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    background-image: url(../img/Rectangle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    left: -15px;
    bottom: 6px;
}